<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sabuskitchen">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logosabus"
        android:label="Sabu&apos;s Kitchen"
        android:roundIcon="@drawable/logosabus"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sabuskitchen">
        <activity
            android:name=".PreOrderActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".AddMenu"
            android:exported="true" />
        <activity
            android:name=".OrderActivity"
            android:exported="true" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".DuesActivity" />
        <activity android:name=".RenewActivity" />
        <activity android:name=".Usermess" />
        <activity android:name=".AddActivity" />
        <activity android:name=".MessActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_3AGDpRwOr4vQ4Y" />
    </application>

</manifest>